*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html,
body {
	height: 100%;
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}
